@theme {
  --color-black-1: rgba(0, 0, 0, 0.01);
  --color-black-4: rgba(0, 0, 0, 0.04);
  --color-black-5: rgba(0, 0, 0, 0.05);
  --color-black-8: rgba(0, 0, 0, 0.08);
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-12: rgba(0, 0, 0, 0.12);
  --color-black-16: rgba(0, 0, 0, 0.16);
  --color-black-18: rgba(0, 0, 0, 0.18);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-black-40: rgba(0, 0, 0, 0.4);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-black-87: rgba(0, 0, 0, 0.87);
  --color-black-90: rgba(0, 0, 0, 0.9);
  --color-black: #000000;
  --color-black-light: #121212;
  --color-black-dark: #101828;
  --color-black-lighter: rgba(16, 24, 40, 0.6);
  --color-gray-1: rgb(145 158 171 / 80%);
  --color-gray-2: rgba(74, 58, 255, 0.02);
  --color-gray-4: rgba(70, 0, 242, 0.04);
  --color-gray-8: rgba(145, 158, 171, 0.08);
  --color-gray-40: rgba(208, 213, 221, 0.4);
  --color-gray-60: rgba(18, 18, 18, 0.6);
  --color-gray-light: #F9FAFB;
  --color-gray-lighter: #F8F9FC;
  --color-gray: rgba(196,196,196,1.000);
  --color-gray-lightest: #F2F4F7;
  --color-gray-bright: #ECEEF1;
  --color-gray-dark-80: rgba(58, 71, 78, 0.8);
  --color-gray-light-60: rgba(8, 8, 8, 0.60);
  --color-gray-snow-drift: rgba(248, 248, 248, 1);
  --color-gray-light-mercury: rgba(229, 229, 229, 0.8);
  --color-gray-dark-mercury: rgba(248, 245, 254, 0.40);
  --color-gray-dark-3: rgba(246, 246, 250, 1);
  --color-gray-dark: rgba(150, 147, 145, 1);
  --color-gray-text: rgba(0, 0, 0, 0.6);
  --color-gray-light-4: #F4F4F5;
  --color-green-8: rgba(0, 171, 85, 0.08);
  --color-green: rgba(3, 152, 85, 1);
  --color-green-dark: #007B55;
  --color-green-darker: #027A48;
  --color-green-lighter: #ECFDF3;
  --color-green-light: rgba(45, 255, 104, 0.08);
  --color-green-lime-green: #3C981F;
  --color-green-leafy-green: rgba(0, 191, 29, 1);
  --color-blue-0: rgba(70, 0, 242, 0);
  --color-blue-1: rgba(208,213,221,1.000);
  --color-blue-2: rgba(70, 0, 242, 0.02);
  --color-blue-4: rgba(70, 0, 242, 0.04);
  --color-blue-6: rgba(70, 0, 242, 0.06);
  --color-blue-8: rgba(70, 0, 242, 0.08);
  --color-blue-10: rgba(70, 0, 242, 0.10);
  --color-blue-12: rgba(74, 58, 255, 0.12);
  --color-blue-16: rgba(70, 0, 242, 0.16);
  --color-blue-20: rgba(70, 0, 242, 0.20);
  --color-blue-24: rgba(70, 0, 242, 0.24);
  --color-blue-32: rgba(69 0 242 / 32%);
  --color-blue-40: rgba(70, 0, 242, 0.40);
  --color-blue-60: rgba(54, 63, 114, 0.6);
  --color-blue-80: rgba(70, 0, 242, 0.8);
  --color-blue: rgba(29,0,102,1.000);
  --color-blue-dark: #4F25B7;
  --color-blue-darker: #363F72;
  --color-blue-darkest: #344054;
  --color-blue-darkD: #3538CD;
  --color-blue-blueGray700: #363F72;
  --color-blue-light: #4600F2;
  --color-blue-lighter: #EEF4FF;
  --color-blue-lightest: #4A3AFF3D;
  --color-blue-bright: #1E40AF;
  --color-blue-brighter: #EFF6FF;
  --color-blue-brightest: #4600f20f;
  --color-blue-errorBoundary: #674ee7;
  --color-blue-ultraLight: #40238733;
  --color-blue-ultraLight2: #402387CC;
  --color-blue-ultraLight3: #402387;
  --color-blue-ultraBright: rgba(70, 0, 242, 0.4);
  --color-blue-blue-16: rgba(0, 61, 219, 0.16);
  --color-blue-light-1: rgba(234, 240, 255, 1);
  --color-blue-light-2: #2A0488;
  --color-blue-royal-blue: #175CD3;
  --color-blue-azure: rgba(22, 144, 255, 1);
  --color-reddish-orange: #B54708;
  --color-reddish-orange-lightest: #FFFAEB;
  --color-red-1: rgba(217, 45, 32, 1);
  --color-red-4: rgba(255, 0, 0, 0.04);
  --color-red: rgba(195, 24, 18, 1);
  --color-red-lightest: #FEF3F2;
  --color-red-light: rgba(242, 0, 0, 1);
  --color-red-warningRed: #C31812;
  --color-red-warningRedDark: #C4320A;
  --color-red-pinkish-red: #EC1731;
  --color-white-6: rgba(255, 255, 255, 0.6);
  --color-white-8: rgba(255, 255, 255, 0.08);
  --color-white-10: rgba(255, 255, 255, 0.10);
  --color-white-15: rgba(255, 255, 255, 0.15);
  --color-white-16: rgba(255, 255, 255, 0.16);
  --color-white-20: rgba(255, 255, 255, 0.20);
  --color-white-24: rgba(255, 255, 255, 0.24);
  --color-white-60: rgba(255, 255, 255, 0.60);
  --color-white-70: rgba(255, 255, 255, 0.70);
  --color-white-80: rgba(255, 255, 255, 0.80);
  --color-white-100: rgba(248, 248, 248, 1);
  --color-white: #ffffff;
  --color-white-light: #F0F9FF;
  --color-white-lighter: #f9f7ff;
  --color-white-gray: #F4F5F8;
  --color-yellow-80: rgba(255, 250, 235, 0.8);
  --color-yellow-light-fade: rgba(255, 247, 205, 1);
  --color-yellow-light-full: rgba(255, 243, 181, 1);
  --color-blue-purple-1: #1D0066;
  --color-blue-purple-4: rgba(70, 0, 242, 0.04);
  --color-blue-purple-8: rgba(70, 0, 242, 0.08);
  --color-blue-purple-12: rgba(70, 0, 242, 0.12);
  --color-blue-purple-20: rgba(70, 0, 242, 0.2);
  --color-blue-purple-40: rgba(64, 35, 135, 0.4);
  --color-blue-purple-60: #40238799;
  --color-blue-purple-70: rgba(64, 35, 135, 0.7);
  --color-blue-purple-80: rgba(64, 35, 135, 0.8);
  --color-blue-purple-90: rgba(64, 35, 135, 0.9);
  --color-blue-purple-100: rgba(29, 0, 102, 1);
  --color-blue-purple: #402387;
  --color-blue-purple-dark: rgba(70, 0, 242, 0.5);
  --color-aqua-haze-1: rgba(239, 248, 255, 1);
  --color-aqua-haze: #EEF2FF;
  --color-cyan-blue: #F0F4F9;
  --color-navy-blue-1: #f6f8fb;
  --color-navy-blue-2: #026AA2;
  --color-navy-blue: #35197A;
  --color-orange-10: #FFA48D;
  --color-orange-20: rgba(220, 104, 3, 0.2);
  --color-orange-100: rgba(196, 50, 10, 1);
  --color-orange: #B54708;
  --color-orange-lighter: #FFFAEB;
  --color-orange-light: #FFF6ED;
  --color-orange-dark: #D97706;
  --color-orange-sunrise-orange: #E17141;
  --color-pink: #C11574;
  --color-pink-lightest: #FDF2FA;
  --color-purple-20: rgba(64, 35, 135, 0.20);
  --color-purple-60: #40238799;
  --color-purple-80: rgba(64, 35, 135, 0.80);
  --color-purple: #BF2E84;
  --color-purple-DEFAULT-RGBA: rgba(191, 46, 132, 0.04);
  --color-purple-dark: #402387CC;
  --color-purple-light: #4600F214;
  --color-purple-lightPlus: #4600F2;
  --color-purple-banner: #402387;
  --color-purple-coachMark: #2D1E52;
  --color-purple-fade: rgba(70, 0, 242, 0.4);
  --color-wisp-pink: rgba(254, 243, 242, 1);
  --color-orange-red: rgba(180, 35, 24, 1);
  --color-floral-white: rgba(255, 250, 235, 1);
  --color-green-cyan: rgba(236, 253, 243, 1);
  --color-reddish-orange-8: rgba(181, 71, 8, 0.8);
  --color-reddish-orange: rgba(181, 71, 8, 1);
  --color-spring-green: rgba(2, 122, 72, 1);
  --color-warning-yellow: rgba(244, 193, 62, 1);
  --color-website-primary: rgba(107, 51, 245, 1);
  --color-fade-yellow: rgba(255, 250, 230, 1);
  --color-light-brown: rgba(122, 79, 1, 1);
  --color-light-brown-dark: rgba(101, 66, 1, 1);
  --color-light-brown-darker: rgba(122, 2, 2, 1);
  --color-brown: rgba(122, 2, 2, 1);
  --color-pinkGradient: rgba(255, 115, 157, 1);
  --color-purpleGradient: rgba(98, 9, 187, 1);
  --color-purpleLight-40: rgba(54, 63, 114, 0.4);
  --color-purpleLight-80: rgba(54, 35, 114 , 0.8);
  --color-purpleLight: rgba(141, 78, 243, 1);
}
